/* TABLE OF CONTENTS

	0. Circle styles
    1. Default styles
    2. Wrong device message
    3. Launch screen
    4. User onboarding
	5. Hamburger Menu
	6. Bottom Navigation
    7. The building
    8. The map
	9. Feature Clues

    X. General media queries
*/

/* ------------------------- 0. Circle styles ----------------------------- */

.circle-text { 
   position: absolute; 
   top: 10vh; 
   text-align: center;
   width: 100%; 
   color: #fff;
   font-size: 2.5rem;
   font-weight: 300;
   align-content:center;
   letter-spacing: 2px;
   margin-top: 2rem;
 }

.circle-text h1 {
	font-size: 14rem;
	font-weight: 400;
}


/* should use margin-top class instead */
#spacer {
height: 5.5rem;
}

@media screen and (max-width: 768px) and (min-width: 415px) {
	
	#spacer {
		height: 8rem;
	}
}

#main-screen-text {
	text-align: center;
	margin: 3rem;
}

#main-screen-text h2 {
	color: #91732b;
	font-weight: 400;
	letter-spacing: 2px;
	font-size: 2.5rem;
    text-transform: uppercase;
    padding-top: 8%;
}

#main-screen-text p {
	color: #363636;
	font-size: 2.4rem;
    letter-spacing: 1px;
    padding: 5% 0;
}

.quest-wrapper {
    width: 100vw; /*for fitting to width. This works for different resolutions*/
    height: 50vh;
    overflow: hidden;
	margin: 0 auto;
}

.quest-gallery {
    width: 100vw;
	height: 40vh;
	overflow-x: auto; /*horizontal scroll*/
    overflow-y: hidden;

    /* avoid spaces */
    white-space: nowrap;
    font-size: 0px;

	/*css scrollsnap, using jquery-scrollsnap-plugin for chrome compatibility. Source:https://github.com/benoitpointet/jquery-scrollsnap-plugin */
    -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;
    -webkit-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;
	-webkit-scroll-snap-points-x: repeat(100%);
    scroll-snap-points-x: repeat(100%);
}

.quest {
	display: inline-block;
    white-space: normal;
}

.quest::after {
    width: 100%;
    height: 2rem;
    background: #7f143c;
    position: fixed;
    content: "";
    margin-top: -26%;
    z-index: -1;
}


.quest img {
    display: block;
	width: 100vw;
	height: 40vh;
}

.quest img::after {
    width: 30rem;
    height: 1rem;
    background: #7f143c;
    position: absolute;
    content: "";
    top: 30px;
    left: -50px;
}

#quest-left-right{
	margin: 0 auto;
    margin-top: -5%;
}

button#left-button {
    margin-left: 10rem;
    display: none;
}

button#right-button {
    float: right;
    margin-right: 10rem;
}

button.demo img {
    height: 40px;
}

#quest1-dot {
	background-color:#363636;
}

div.quest-progress {
    width: 162px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin: 0 0 18% -81px;
}

.quest-progress-dots {
    width: 10px;
    height: 10px;
    background-color: #363636;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
}



/* ------------------------- 1. Default styles ----------------------------- */

html {
    /* http://stackoverflow.com/questions/2869212/css3-gradient-background-set-on-body-doesnt-stretch-but-instead-repeats */
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.hide {
    display: none;
}

.low-opacity {
    opacity: 0.3;
}

/* background applied using Javascript */
.redwine-gradient {
    /* http://colorzilla.com/gradient-editor/ */
    background: #7f143c; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(45deg, #c01e59 0%,#7f143c 60%, #7f143c 100%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, #c01e59 0%,#7f143c 60%, #7f143c 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, #c01e59 0%,#7f143c 60%, #7f143c 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, #c01e59 0%,#7f143c 60%, #7f143c 100%); /* Standard syntax */
}

/* background applied using Javascript */
.gold-gradient {
    background: rgba(145,115,43,1);
    background: -moz-linear-gradient(45deg, rgba(249,196,48,1) 0%, rgba(145,115,43,1) 60%, rgba(145,115,43,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(249,196,48,1) 0%, rgba(145,115,43,1) 60%, rgba(145,115,43,1) 100%);
    background: -o-linear-gradient(45deg, rgba(249,196,48,1) 0%, rgba(145,115,43,1) 60%, rgba(145,115,43,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(249,196,48,1) 0%, rgba(145,115,43,1) 60%, rgba(145,115,43,1) 100%);
    background: linear-gradient(45deg, rgba(249,196,48,1) 0%, rgba(145,115,43,1) 60%, rgba(145,115,43,1) 100%);
}

/* for all content that needs to sit under the hamburger menu strip */
.margin-top {
    margin-top: 5.5rem;
}

@media screen and (max-width: 768px) and (min-width: 415px) {
	.extra-margin-top {
		margin-top: 8rem;
	}
}

/* override user agent stylesheet */
button {
    color: none;
    background: none;
    box-sizing: inherit;
    padding: 0;
    border-width: 0;
}



/* ------------------------- 2. Wrong device message ----------------------------- */


div.wrong-device {
    color: #fff;
    text-align: center;
    /* align vertically centered - https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    div.wrong-device img {
        width: 70px;
        margin-bottom: 30px;
    }

/* Don't display the wrong device message for tablets and phones - screen width 768px and less */
@media screen and (max-width: 768px) {
    div.wrong-device {
        display: none;
    }
    
    div.hiding {
        display: block;
    }
}

/* Display the wrong device message for desktop - screen width 769px or more */
@media screen and (min-width: 769px) {
    /* Hides main content */
    div.main-content {
        display: none;
    }
    
    /* Shows the wrong-device div */
    div.wrong-device {
        display: block;
    }
}




/* ------------------------- 3. Launch screen (Caitlin) ----------------------------- */


div.launch {
    text-align: center;
    font-size: 1.9rem;
	color: #fff;
    font-weight: 200;
    line-height: 1.3;
}

div#loading {
    /* align vertically centered */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img#these-walls {
    width: 200px;
    margin-bottom: 2.5rem;
}

img#load-icon {
    margin-top: 4rem;
    width: 35px;
}

img#nfsa {
    opacity: 0.4;
    width: 120px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin: 0 0 20px -65px;
}




/* ------------------------- 4. User onboarding (Steph) ----------------------------- */


div.onboarding {
    text-align: center;
    font-size: 2.1rem;
    color: #fff;
    /* align vertically centered */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    div.onboarding h1 {
        font-size: 2.3rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 10%;
    }

    div.onboarding p {
        line-height: 1.6;
        margin-bottom: 20%;
    }

/* low opacity images for each onboarding div - https://css-tricks.com/snippets/css/transparent-background-images/ */
div.onboarding-screens::after {
    content: "";
    opacity: 0.15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}

div#onboarding1::after {
    background: url(images/onboarding1.jpg) top center no-repeat;
    background-size: cover;
}

div#onboarding2::after {
    background: url(images/onboarding2.jpg) top center no-repeat;
    background-size: cover;
}

div#onboarding3::after {
    background: url(images/onboarding3.jpg) top center no-repeat;
    background-size: cover;
}

div#onboarding4::after {
    background: url(images/onboarding4.jpg) top center no-repeat;
    background-size: cover;
}


img.ob-icons {
    height: 90px;
    margin-bottom: 2rem;
}

img.right-arrow {
    height: 40px;
}

div.arrows {
    position: fixed;
    bottom: 0;
    right: 15%;
    margin-bottom: 30%;
}

div.progress {
    width: 70px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin: 0 0 25px -35px;
}

div.progress-dots {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
}

div#begin {
    width: 250px;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
}

    div#begin p {
        margin: 0;
        padding: 1.5rem 0;
        line-height: 1.4;
    }

    div#begin a {
        font-size: 2rem;
        font-weight: 300;
        color: #fff;
        text-decoration: none;
        letter-spacing: 3px;
        margin-top: 2px;
    }



/* Div that holds all the content */
#home {
	display: none;
	height: 100vh;
}

/* ------------------------- 5. Hamburger Menu ----------------------------- */

.burger {
    background: rgba(204,57,118,1);
    background: -moz-linear-gradient(45deg, rgba(204,57,118,1) 0%, rgba(176,43,96,1) 19%, rgba(143,27,71,1) 41%, rgba(143,27,71,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(204,57,118,1)), color-stop(19%, rgba(176,43,96,1)), color-stop(41%, rgba(143,27,71,1)), color-stop(100%, rgba(143,27,71,1)));
    background: -webkit-linear-gradient(45deg, rgba(204,57,118,1) 0%, rgba(176,43,96,1) 19%, rgba(143,27,71,1) 41%, rgba(143,27,71,1) 100%);
    background: -o-linear-gradient(45deg, rgba(204,57,118,1) 0%, rgba(176,43,96,1) 19%, rgba(143,27,71,1) 41%, rgba(143,27,71,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(204,57,118,1) 0%, rgba(176,43,96,1) 19%, rgba(143,27,71,1) 41%, rgba(143,27,71,1) 100%);
    background: linear-gradient(45deg, rgba(204,57,118,1) 0%, rgba(176,43,96,1) 19%, rgba(143,27,71,1) 41%, rgba(143,27,71,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc3976', endColorstr='#8f1b47', GradientType=1 );
	width: 100%;
	height: 8rem;
	position: fixed;
	overflow:hidden;
	z-index:99;
}

.burger img {
	float: left;
	width: 6rem;
	padding-left: 1.5rem;
	padding-bottom: 0.5rem;
	padding-top: 1.2rem;
    opacity: 0.6;
}

.menu {
    transition: 0.1s transform linear;
    position: relative;
    background: 0;
    float: right;
    margin: 4rem 3rem 3rem;
    height: 4rem;
    width: 4rem;
    z-index: 3;
    outline: 0;
    padding: 0;
    border: 0;
}

.bar, .bar::before, .bar::after {
    -webkit-transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s -webkit-transform linear;
  transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s -webkit-transform linear;
  transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
  transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear, 0.2s -webkit-transform linear;
  position: absolute;
  background: #fff;
  width: 100%;
  height: 0.2rem;
  content: '';
  top: 6%;
  right: 0;
}
.bar {
  margin-top: -0.3rem;
}
.bar::before {
  top: -1.2rem;
}
.bar::after {
  top: 1.2rem;
}
.bar::before, .bar::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.active .bar {
  background: 0;
}
.active .bar::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.active .bar::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.active .bar::before, .active .bar::after {
  top: 0;
}
.active .bar, .active .bar::before, .active .bar::after {
  -webkit-transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s -webkit-transform linear 0.2s;
  transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s -webkit-transform linear 0.2s;
  transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
  transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s, 0.2s -webkit-transform linear 0.2s;
}

nav {
  float: right;
  width: 45%;
  right: 0;
  height: 100%;
  background: #363636;
  position: fixed;
  display: none;
  padding-top: 10rem;
  z-index: 2;
}

nav ul {
  margin: 0;
  list-style: none;
  padding-left: 5rem;
  z-index: 2;
  }

nav ul li {
    padding: 3rem 3rem 3rem 0;
    font-size: 2rem;
    border-bottom: 1px solid #a6a6a6;
}

    nav ul li:nth-child(4),
    nav ul li:last-child {
        border-bottom: none;
    }

nav ul li a {
	text-decoration: none;
	text-transform:uppercase;
	color: #fff;
    letter-spacing: 1px;
}

.nav-logo img {
	width: 9rem;
	margin-top: 50%;
    padding: 0;
}

/* ------------------------- 6. Bottom Navigation ----------------------------- */

.bottom-menu {
	width: 100%;
	background-color: #E6E6E6;
	padding: 0;
    position: fixed;
    bottom: 0;
}

.bottom-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    height: 10rem;
    display: table; /* important to get even split */
    table-layout: fixed; /* important to get even split */
    width: 100%;
 }
 
 .bottom-menu li {
     display: table-cell; /* important to get even split */
	 height: 100%;
     margin: 0;
     text-align: center;
     vertical-align: middle;
 }
 
.bottom-menu li p {
    text-align:center;
	text-transform:uppercase;
	font-size: 1.5rem;
	margin: 0;
    padding-top: 0.2rem;
	color: #363636;
    letter-spacing: 1px;
 }
 
 .bottom-menu li.selected {
	background-color: #7f143c;
	margin: 0;
    color: #EBEBEB;
 }
 
 .bottom-menu li.selected p {
	 color: #EBEBEB;
 }
 
 .bottom-menu li a {
	 text-decoration: none;
     height: 100%;
 }
 
 .bottom-menu li .icon-white {
	display: none; 
 }
 
 .bottom-menu li img {
     padding: 0.3rem;
     display: block;
     margin: 0 auto;
     height: 50px;
  }
  
.bottom-menu li.selected img {
    display: none;
}
  
.bottom-menu li.selected .icon-white {
    display: block; 
}
  
.map {
    box-shadow: -2px 0 2px -2px #363636, 2px 0 2px -2px #363636;
}

img .dark-icon.selected {
    display: none; 
}




/* ------------------------- 7. The Building ----------------------------- */

#building-info {
	display: none;
	z-index: 1;
}
 
#building-info ul {
	list-style-type: none;
	padding: 0;
	border-bottom: 1px solid #CBC9C9;
	width: 100%;
	background-color: #E6E6E6;
	position:fixed;
	z-index: 1;
    height: 6rem;
    display: table;
    table-layout: fixed;
    margin-bottom: 0;
}

#building-info li {
    height: 100%;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#building-info li a {
	text-decoration: none;
	color: #91732b;
}

@media screen and (max-width: 768px) and (min-width: 415px) {
	
	#building-overview p {
		font-size: 2rem;
	}
}

div#building-overview {
    overflow-y: scroll;
}

#building-overview img {
	max-width: 100%;
	margin-top: 10rem;
}

.architecture {
	border-left: 1px solid #CBC9C9;
}

#building-overview p {
	margin: 2em;
    line-height: 1.5;
}

div#building-overview p:last-child {
    margin-bottom: 15rem;
}



/* ------------------------- 7. The map ----------------------------- */

div#build-map {
    width: 100%;
}

div#wrap {
    display: table;
    margin: 0 auto;
    padding-top: 15rem;
}

    div#wrap img {
        width: 4.5rem;
        margin-right: 2rem;
        display: table-cell;
        vertical-align: middle;
    }

    div#wrap p {
        display: table-cell;
        vertical-align: middle;
        font-size: 2.3rem;
    }



img#floorplan {
    position: fixed;
    margin-top: 10rem;
    width: 70rem;
    margin-left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    
}

/* ------------------------- 9. Feature Clues ----------------------------- */

#clue-1, #clue-2, #clue-3, #clue-4, #clue-5, #clue-6, #clue-7, #clue-8, #clue-9 {
		display: none;
		width: 100%;
}

.clue-content {
	margin: 4rem;
	align-content:center;
    line-height: 1.5;
}

.clue-header {
    background: rgba(204,57,118,1);
    background: -moz-linear-gradient(45deg, rgba(204,57,118,1) 0%, rgba(176,43,96,1) 19%, rgba(143,27,71,1) 41%, rgba(143,27,71,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(204,57,118,1)), color-stop(19%, rgba(176,43,96,1)), color-stop(41%, rgba(143,27,71,1)), color-stop(100%, rgba(143,27,71,1)));
    background: -webkit-linear-gradient(45deg, rgba(204,57,118,1) 0%, rgba(176,43,96,1) 19%, rgba(143,27,71,1) 41%, rgba(143,27,71,1) 100%);
    background: -o-linear-gradient(45deg, rgba(204,57,118,1) 0%, rgba(176,43,96,1) 19%, rgba(143,27,71,1) 41%, rgba(143,27,71,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(204,57,118,1) 0%, rgba(176,43,96,1) 19%, rgba(143,27,71,1) 41%, rgba(143,27,71,1) 100%);
    background: linear-gradient(45deg, rgba(204,57,118,1) 0%, rgba(176,43,96,1) 19%, rgba(143,27,71,1) 41%, rgba(143,27,71,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc3976', endColorstr='#8f1b47', GradientType=1 );
	width: 100%;
	text-align: center;
	color: #fff;
	height: 5.5rem;
	overflow:hidden;
}

.clue-header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.clue-header li {
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	width: 32%;
	vertical-align:middle;
}

.clue-header li p {
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 3px;
}

@media screen and (max-width: 320px) {
	
	.clue-content {
		margin: 2rem;
	}
	
	.clue-header li p {
		font-size: 1.3rem;
	}
	
	.clue-content h2 {
		font-size: 1rem;
		margin: 1rem;
	}
	
	.hints li a {
		font-size: 1rem;
	}
}

@media screen and (max-width: 768px) and (min-width: 415px) {
	
	.clue-header {
		
		height: 6.5rem;
	}
	
	.clue-content {
		margin: 6rem;
	}
	
	.clue-header li p {
		font-size: 2.5rem;
	}
	
	.clue-content h2{
		font-size: 3rem;
	}
	
	.clue-content p {
		font-size: 3rem;
	}
	
	.hints li a {
		font-size: 3rem;
		width: 70%;
	}
}

.clue-header li img {
	float: left;
	width: 1.5rem;
	padding-left: 1rem;
	padding-bottom: 0.5rem;
	padding-top: 1.5rem;
	vertical-align:middle;
}

.clue-content h2 {
	text-transform: uppercase;
	text-align:center;
	font-weight: 400;
	color: #91732b;
	margin: 4rem;
	letter-spacing: 3px;
	font-size: 2rem;
}

.binoculars {
	width: 100%;
	align-content:center;
}

.binoculars img {
	
	display: block;
	margin: 0 auto;
	width: 30%;
	align-content:center;
	padding-bottom: 2rem;
}

.clue-content p {
	padding-bottom: 3rem;
	padding-top: 2rem;
	text-align:center;
	letter-spacing: 1px;
    line-height: 1.4;
}

.clue-content ul {
	list-style-type: none;
	text-align: center;
	text-transform: uppercase;
	margin-top: 2rem;
}

.hints li {
	 padding: 1.3rem 0;
     line-height: 1.4;
	 margin-bottom: 2rem;
}

.hints li a {
	  font-size: 1.5rem;
      font-weight: 300;
      text-decoration: none;
      letter-spacing: 3px;
	  width: 80%;
}

.hint {
    border: 2px solid #7f143c;
    border-radius: 30px;
    margin: 0 auto;
}

.hint a {
	color: #7f143c
}

.found-it {
	background-color: #7f143c;
    border: 2px solid #7f143c;
    border-radius: 30px;
    margin: 0 auto;	
	color: #fff;
}

.found-it a, .show-me a {
	color: #fff;
}

.show-me {
	background-color: #363636;
    border: 2px solid #363636;
    border-radius: 30px;
    margin: 0 auto;	
}


/* ------------------------- X. General media queries ----------------------------- */

/* Phone size */
@media screen and (max-width: 414px) {
    
    
    /* ----- launch screen ----- */
    div#loading {
        width: 82.6666666667%;
        font-size: 1.4rem;
    }
    
    img#these-walls {
        width: 120px;
        margin-bottom: 1.5rem;
    }
    
    img#load-icon {
        width: 20px;
    }
    
    img#nfsa {
        width: 80px;
        margin: 0 0 20px -40px;
    }
    
    /* ----- onboarding screens ----- */
    div.onboarding {
        width: 82.6666666667%;
        font-size: 1.9rem;
    }
    
    div.onboarding h1 {
        font-size: 2.1rem;
        margin-bottom: 15%;
    }
    
    img.ob-icons {
        height: 60px;
    }
    
    div#begin {
        width: 215px;
    }
    
    div#begin p {
        padding: 1.2rem 0;
    }
    
    /* ----- hamburger menu ----- */
    
    .burger {
        height: 5.5rem;
    }
    
    .burger img {
        width: 4rem;
        padding-left: 1rem;
        padding-top: 1rem;
    }
    
    .menu {
        margin: 2.6rem 1.5rem 0;
        height: 3rem;
        width: 3rem;
    }
    
    .bar, .bar::before, .bar::after {
        height: 0.1rem;
    }
    
    .bar {
      margin-top: -0.2rem;
    }
    
    .bar::before {
      top: -1rem;
    }
    
    .bar::after {
      top: 1rem;
    }

    nav {
        width: 60%;
        padding-top: 4rem;
    }
    
    nav ul {
      padding-left: 3rem;
    }
    
    nav ul li {
        padding: 1.9rem 1.9rem 1.9rem 0;
        font-size: 1.4rem;
    }
    
    .nav-logo img {
        width: 7rem;
        padding: 0;
    }
    
    
    
    /* ----- feature circles ------ */
    
    #main-screen-text {
        margin: 1rem;
    }
    
    #main-screen-text h2 {
        font-size: 1.5rem;
        letter-spacing: 1px;
    }
    
    #main-screen-text p {
        font-size: 1.7rem;
    }
    
    .quest::after {
        height: 1.5rem;
        margin-top: -35%;
    }
    
    .quest img {
        height: 38vh;
    }
    
    div.quest-progress {
        margin: 0 0 27% -81px;
    }
    
    .circle-text {
        font-size: 1.5rem;
        margin-top: 0;
    }
    
    .circle-text h1 {
        font-size: 8rem;
    }
    
    #quest-left-right{
        margin-top: -18%;
    }
    
    button#right-button {
        margin-right: 3rem;
    }
    
    button#left-button {
        margin-left: 3rem;
    }
        
        
    /* ----- bottom navigation ----- */
    .bottom-menu ul {
        height: 7rem;
    }
    
    .bottom-menu li p {
        font-size: 1rem;
     }
    
    .bottom-menu li img {
        height: 30px; 
    }
    
    /* ----- building info ----- */
    #building-info ul {
        height: 5rem;
    }
    
    #building-info li {
        font-size: 1.3rem;
    }
    
    #building-overview img {
        margin-top: 10.5rem;
    }

    /* ----- the map ----- */
    div#wrap {
        padding-top: 9.5rem;
    }
    
    div#wrap img {
        width: 3rem;
    }
    
    div#wrap p {
        font-size: 1.5rem;
    }
    
    img#floorplan {
        margin-top: 4rem;
        width: 45rem;
    }
    
}
