/* TABLE OF CONTENTS

    1. Default styles
    2. Wrong device message
    3. Launch screen
    4. User onboarding
	5. Hamburger Menu
    6. Circle feature navigation
	7. Bottom tab Navigation
    8. The building
    9. The map
    10. Favourites tab
	11. Feature Clues
    12. Feature hints
	13. Confirmation -found it
	14. Menu Content
    15. Found features

    X. General media queries

*/



/* ------------------------- 1. Default styles ----------------------------- */

html {
    /* http://stackoverflow.com/questions/2869212/css3-gradient-background-set-on-body-doesnt-stretch-but-instead-repeats */
    height: 100%; /* important, see link above */
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #363636;
}

.hide {
    display: none;
}

.low-opacity {
    opacity: 0.3;
}

/* for anytime the redwine coloured background gradient is needed */
.redwine-gradient {
    background: rgba(143,27,71,1); /* For browsers that do not support gradients */
    background: -moz-linear-gradient(45deg, rgba(192,30,89,1) 0%, rgba(127,20,60,1) 60%, rgba(127,20,60,1) 100%); /* Firefox 3.6 to 15 */
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(192,30,89,1)), color-stop(60%, rgba(127,20,60,1)), color-stop(100%, rgba(127,20,60,1))); /* Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(45deg, rgba(192,30,89,1) 0%, rgba(127,20,60,1) 60%, rgba(127,20,60,1) 100%);
    background: -o-linear-gradient(45deg, rgba(192,30,89,1) 0%, rgba(127,20,60,1) 60%, rgba(127,20,60,1) 100%); /* Opera 11.1 to 12.0 */
    background: -ms-linear-gradient(45deg, rgba(192,30,89,1) 0%, rgba(127,20,60,1) 60%, rgba(127,20,60,1) 100%);
    background: linear-gradient(45deg, rgba(192,30,89,1) 0%, rgba(127,20,60,1) 60%, rgba(127,20,60,1) 100%); /* Standard syntax */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c01e59', endColorstr='#7f143c', GradientType=1 );
}

/* for anytime the gold gradient coloured background is needed */
.gold-gradient {
    background: rgba(145,115,43,1);
    background: -moz-linear-gradient(45deg, rgba(249,196,48,1) 0%, rgba(145,115,43,1) 60%, rgba(145,115,43,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(249,196,48,1) 0%, rgba(145,115,43,1) 60%, rgba(145,115,43,1) 100%);
    background: -o-linear-gradient(45deg, rgba(249,196,48,1) 0%, rgba(145,115,43,1) 60%, rgba(145,115,43,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(249,196,48,1) 0%, rgba(145,115,43,1) 60%, rgba(145,115,43,1) 100%);
    background: linear-gradient(45deg, rgba(249,196,48,1) 0%, rgba(145,115,43,1) 60%, rgba(145,115,43,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c430', endColorstr='#91732b', GradientType=1 );
}

.gold {
    background-color: #91732b;
}

/* for all content that needs to sit under the hamburger menu strip */
.margin-top {
    margin-top: 5.5rem;
}

@media screen and (max-width: 768px) and (min-width: 415px) {
	.extra-margin-top {
		margin-top: 8rem;
	}
    
    .large-text {
        font-size: 2rem;
    }
}

/* override user agent stylesheet */
button {
    color: transparent;
    background: none;
    box-sizing: inherit;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: transparent;
    border-image: none;
}




/* ------------------------- 2. Wrong device message ----------------------------- */

div.wrong-device {
    color: #fff;
    text-align: center;
    /* align vertically centered - https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    div.wrong-device img {
        width: 70px;
        margin-bottom: 30px;
    }

/* Don't display the wrong device message for tablets and phones - screen width 768px and less */
@media screen and (max-width: 768px) {
    div.wrong-device {
        display: none;
    }
    
    div.hiding {
        display: block;
    }
}

/* Display the wrong device message for desktop - screen width 769px or more */
@media screen and (min-width: 769px) {
    /* Hides main content */
    div.main-content {
        display: none;
    }
    
    /* Shows the wrong-device div */
    div.wrong-device {
        display: block;
    }
}




/* ------------------------- 3. Launch screen ----------------------------- */

div.launch {
    text-align: center;
    font-size: 1.9rem;
	color: #fff;
    font-weight: 200;
    line-height: 1.3;
}

div#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img#these-walls {
    width: 200px;
    margin-bottom: 2.5rem;
}

img#load-icon {
    margin-top: 4rem;
    width: 35px;
}

img#nfsa {
    opacity: 0.4;
    width: 120px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin: 0 0 20px -65px;
}




/* ------------------------- 4. User onboarding ----------------------------- */

div.onboarding {
    text-align: center;
    font-size: 2.1rem;
    color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    div.onboarding h1 {
        font-size: 2.3rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 10%;
    }

    div.onboarding p {
        line-height: 1.6;
        margin-bottom: 20%;
    }

/* low opacity images for each onboarding div - https://css-tricks.com/snippets/css/transparent-background-images/ */
div.onboarding-screens::after {
    content: "";
    opacity: 0.15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}

/* background images for onboarding screens */
div#onboarding1::after {
    background: url(images/onboarding1.jpg) top center no-repeat;
    background-size: cover;
}

div#onboarding2::after {
    background: url(images/onboarding2.jpg) top center no-repeat;
    background-size: cover;
}

div#onboarding3::after {
    background: url(images/onboarding3.jpg) top center no-repeat;
    background-size: cover;
}

div#onboarding4::after {
    background: url(images/onboarding4.jpg) top center no-repeat;
    background-size: cover;
}

/* icons for each onboarding screen */
img.ob-icons {
    height: 90px;
    margin-bottom: 2rem;
}

img.right-arrow {
    height: 40px;
}

div.arrows {
    position: fixed;
    bottom: 0;
    right: 15%;
    margin-bottom: 30%;
}

div.progress {
    width: 70px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin: 0 0 25px -35px;
}

div.progress-dots {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
}

div#begin {
    width: 250px;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
}

    div#begin p {
        margin: 0;
        padding: 1.5rem 0;
        line-height: 1.4;
    }

    div#begin a {
        font-size: 2rem;
        font-weight: 300;
        color: #fff;
        text-decoration: none;
        letter-spacing: 3px;
        margin-top: 2px;
    }



/* Div that holds all the content */
#home {
	height: 100vh;
}



/* ------------------------- 5. Hamburger Menu ----------------------------- */

.burger {
	width: 100%;
	height: 8rem;
	position: fixed;
	z-index:99;
}

.burger img {
	float: left;
	width: 6rem;
	padding-left: 1.5rem;
	padding-bottom: 0.5rem;
	padding-top: 1.2rem;
    opacity: 0.6;
}

.menu {
    transition: 0.1s transform linear;
    position: relative;
    background: 0;
    float: right;
    margin: 4rem 3rem 3rem;
    height: 4rem;
    width: 4rem;
    z-index: 3;
    outline: 0;
    padding: 0;
    border: 0;
}

.bar, .bar::before, .bar::after {
    -webkit-transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s -webkit-transform linear;
    transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s -webkit-transform linear;
    transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
    transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear, 0.2s -webkit-transform linear;
    position: absolute;
    background: #fff;
    width: 100%;
    height: 0.2rem;
    content: '';
    top: 6%;
    right: 0;
}
.bar {
    margin-top: -0.3rem;
}
.bar::before {
    top: -1.2rem;
}
.bar::after {
    top: 1.2rem;
}
.bar::before, .bar::after {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.active .bar {
    background: 0;
}

.active .bar::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.active .bar::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.active .bar::before, .active .bar::after {
    top: 0;
}

.active .bar, .active .bar::before, .active .bar::after {
    -webkit-transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s -webkit-transform linear 0.2s;
    transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s -webkit-transform linear 0.2s;
    transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
    transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s, 0.2s -webkit-transform linear 0.2s;
}

nav {
  float: right;
  width: 45%;
  right: 0;
  height: 100%;
  background: #363636;
  position: fixed;
  display: none;
  padding-top: 10rem;
  z-index: 2;
}

nav ul {
  margin: 0;
  list-style: none;
  padding-left: 5rem;
  z-index: 2;
}

nav ul li {
    padding: 3rem 3rem 3rem 0;
    font-size: 2rem;
    border-bottom: 1px solid #a6a6a6;
}

    nav ul li:nth-child(4),
    nav ul li:last-child {
        border-bottom: none;
    }

nav ul li a {
	text-decoration: none;
	text-transform:uppercase;
	color: #fff;
    letter-spacing: 1px;
}

.nav-logo img {
	width: 9rem;
	margin-top: 50%;
    padding: 0;
}




/* ------------------------- 6. Circle feature navigation ----------------------------- */

.circle-text { 
   position: absolute; 
   top: 24%; 
   text-align: center;
   width: 100%; 
   color: #fff;
   font-size: 2.5rem;
   font-weight: 300;
   align-content:center;
   letter-spacing: 2px;
   margin-top: 2rem;
 }

.circle-text h1 {
	font-size: 14rem;
	font-weight: 400;
}

#main-screen-text {
	text-align: center;
    padding-top: 5.5rem;
}

#main-screen-text h2 {
	color: #91732b;
	font-weight: 400;
	letter-spacing: 2px;
	font-size: 2.5rem;
    text-transform: uppercase;
    padding-top: 8%;
}

#main-screen-text p {
	font-size: 2.4rem;
    letter-spacing: 1px;
    padding: 3% 0;
}

.quest-wrapper {
    width: 100vw; /*for fitting to width. This works for different resolutions*/
    height: 50vh;
    overflow: hidden;
	margin: 0 auto;
}

.quest-gallery {
    width: 100vw;
	height: 40vh;
	overflow-x: auto; /*horizontal scroll*/
    overflow-y: hidden;
    /* avoid spaces */
    white-space: nowrap;
    font-size: 0px;
	/*css scrollsnap, using jquery-scrollsnap-plugin for chrome compatibility. Source:https://github.com/benoitpointet/jquery-scrollsnap-plugin */
    -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;
    -webkit-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;
	-webkit-scroll-snap-points-x: repeat(100%);
    scroll-snap-points-x: repeat(100%);
}

.quest {
	display: inline-block;
    white-space: normal;
}

/* red lines to 'connect' the circles */
.quest::after {
    display: block;
    width: 100%;
    height: 2rem;
    background: #7f143c;
    position: fixed;
    content: "";
    margin-top: -26%;
    z-index: -2;
}

/* only show the redwine circle */
.quest img:first-of-type {
    display: block;
}

/* includes gold circle, as well as redwine */
.quest img {
	width: 100vw;
	height: 40vh;
}

/* For when the 'feature X' text changes to the feature description (once found) */
.update-text {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-top: 1.5%;
    width: 50%;
    left: 25%;
    opacity: 0.8;
}

.feature2-position-update {
    left: inherit;
    right: -75%;
}

.feature3-position-update {
    left: inherit;
    right: -175%;
}

.feature4-position-update {
    left: inherit;
    right: -275%;
}

.feature5-position-update {
    left: inherit;
    right: -375%;
}

.feature6-position-update {
    left: inherit;
    right: -475%;
}

.feature7-position-update {
    left: inherit;
    right: -575%;
}

.feature8-position-update {
    left: inherit;
    right: -675%;
}

.feature9-position-update {
    left: inherit;
    right: -775%;
}

/* white boxes (left and right) to fudge the end of the red line at 1st and 9th features*/
#white-box-left {
    background-color: #fff;
    position: fixed;
    height: 40%;
    width: 50%;
    z-index: -1;
}

#white-box-right {
    right: 0;   
    background-color: #fff;
    position: fixed;
    height: 40%;
    width: 50%;
    z-index: -1;
    display: none;
}

/* arrow navigation */
#quest-left-right {
    position: fixed;
    bottom: 24%;
}

button#left-button {
    position: fixed;
    margin-left: 10rem;
}

button#right-button {
    position: fixed;
    right: 0;
    margin-right: 10rem;
}

button.demo img {
    height: 40px;
}

/* progress dots */
div.quest-progress {
    width: 162px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin: 0 0 18% -81px;
}

.quest-progress-dots {
    width: 10px;
    height: 10px;
    background-color: #363636;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
}

@media screen and (max-width: 768px) and (min-width: 415px) {
	#main-screen-text {
		padding-top: 8rem;
	}
    
    .update-text {
        font-size: 2rem;
        padding-top: 6%;
        line-height: 1.5;
    }
}




/* ------------------------- 7. Bottom Navigation ----------------------------- */

.bottom-menu {
	width: 100%;
	background-color: #E6E6E6;
	padding: 0;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.bottom-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    height: 10rem;
    display: table; /* important to get even split */
    table-layout: fixed; /* important to get even split */
    width: 100%; /* important to get even split */
 }
 
 .bottom-menu li {
     display: table-cell; /* important to get even split */
	 height: 100%;
     margin: 0;
     text-align: center;
     vertical-align: middle;
 }
 
.bottom-menu li p {
    text-align:center;
	text-transform:uppercase;
	font-size: 1.5rem;
	margin: 0;
    padding-top: 0.2rem;
    letter-spacing: 1px;
    color: #363636;
 }
 
 .bottom-menu li.selected {
	background-color: #7f143c;
	margin: 0;
    color: #EBEBEB;
 }
 
 .bottom-menu li.selected p {
	 color: #EBEBEB;
 }
 
 .bottom-menu li a {
	 text-decoration: none;
     height: 100%;
 }
 
 .bottom-menu li .icon-white {
	display: none; 
 }
 
 .bottom-menu li img {
     padding: 0.3rem;
     display: block;
     margin: 0 auto;
     height: 50px;
  }
  
.bottom-menu li.selected img {
    display: none;
}
  
.bottom-menu li.selected .icon-white {
    display: block; 
}
  
.map {
    box-shadow: -2px 0 2px -2px #363636, 2px 0 2px -2px #363636;
}

img .dark-icon.selected {
    display: none; 
}




/* ------------------------- 8. The Building ----------------------------- */

#building-info {
	z-index: 1;
}
 
ul#building-nav {
	list-style-type: none;
	padding: 0;
	width: 100%;
	background-color: #E6E6E6;
	position:fixed;
	z-index: 1;
    height: 6rem;
    display: table;
    table-layout: fixed;
    margin-bottom: 0;
}

ul#building-nav li {
    height: 100%;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

ul#building-nav li a {
	text-decoration: none;
	color: #91732b;
}

div#building-overview {
    overflow-y: scroll;
}

#building-overview img {
	max-width: 100%;
	margin-top: 10rem;
}

#architecture {
	border-left: 1px solid #CBC9C9;
}

#building-overview p {
	margin: 2em;
    line-height: 1.5;
}

div#building-overview p:last-child {
    margin-bottom: 12rem;
}


/* ---------- Building - history timeline ----------- */

div.timeline-container {
    padding-top: 10.5rem;
}

div.image-container {
    height: 20rem;
    background-color: #363636;
    width: 100%;
}

div.portrait-image {
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

div.landscape-image {
    width: 100%;
    height: 100%;
}

/* Timeline images */
div#timeline-image1 {
    background: url(images/timeline1-colin-mackenzie.jpg) center top no-repeat;
    background-size: cover;
}

div#timeline-image2 {
    background: url(images/timeline2-zoological.png) center top no-repeat;
    background-size: cover;
}

div#timeline-image3 {
    background: url(images/timeline3-foundation.jpg) center top no-repeat;
    background-size: cover;
}

div#timeline-image4 {
    background: url(images/timeline4-institute.jpg) center no-repeat;
    background-size: cover;
}

div#timeline-image5 {
    background: url(images/timeline5-pharlap.jpg) center bottom no-repeat;
    background-size: cover;
}

div#timeline-image6 {
    background: url(images/timeline6-nfsa-opening.jpg) center no-repeat;
    background-size: cover;
}

div#timeline-image7 {
    background: url(images/timeline7-courtyard.jpg) center no-repeat;
    background-size: cover;
}

div#timeline-image8 {
    background: url(images/timeline8-annex.jpg) center no-repeat;
    background-size: cover;
}

div#timeline-image9 {
    background: url(images/timeline9-heritage.jpg) center top no-repeat;
    background-size: cover;
}

div#timeline-image10 {
    background: url(images/timeline10-arc-cinema.jpg) center no-repeat;
    background-size: cover;
}

div.timeline-text {
    width: 80%;
    margin: 0 auto;
    line-height: 1.5;
    margin-top: 2rem;
    text-align: center; /* need to center span */
}

    div.timeline-text p {
        text-align: left;
        margin-top: 1rem;
    }    

div.timeline-text h2 {
    display: inline;
    margin: 0 5rem 0;
}

img.timeline-arrows {
    height: 2.5rem;
}

/* timeline progress dots */
div.timeline-progress {
    width: 182px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin: 0 0 23% -91px;
}

div.timeline-progress-dots {
    width: 10px;
    height: 10px;
    background-color: #363636;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
}

@media screen and (max-width: 360px) {
    
    div.image-container {
        height: 16rem;
    }
    
    div.timeline-text {
        margin-top: 1.3rem;
    }
    
    div.timeline-text h2 {
        font-size: 2rem;
    }
    
    img.timeline-arrows {
        height: 2rem;
    }
    
    div.timeline-text p {
        font-size: 1.3rem;
    }    
}

@media screen and (max-width: 414px) and (min-width: 376px) {
    
    div.image-container {
        height: 23rem;
    }
    
    div.timeline-text {
        margin-top: 3rem;
    }
    
    div.timeline-text p {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 768px) and (min-width: 415px) {
    
    div.timeline-container {
        padding-top: 14rem;
    }
    
    div.image-container {
        height: 38rem;
    }
    
    div.timeline-text {
        margin-top: 4rem;
    }
    
    div.timeline-text h2 {
        font-size: 3.5rem;
    }
    
    img.timeline-arrows {
        height: 3.3rem;
    }
    
    div.timeline-text p {
        margin-top: 3rem;
    }
    
    div.timeline-progress {
        margin: 0 0 17% -91px;
    }
}

/* ---------- Building - architecture ----------- */

div#architecture-content {
    width: 85%;
    margin: 0 auto;
    line-height: 1.5;
    padding: 14rem 0 12rem 0;
}

    div#architecture-content h2 {
        text-transform: uppercase;
        letter-spacing: 1px;
        
    }

    div#architecture-content ul {
        list-style: disc outside none;
        padding-left: 2rem;
    }

div.arch-imgs {
    margin-bottom: 2.5rem;
    width: 100%;
    height: 20rem;
}

div#arch-img1 {
    background: url(images/architecture.jpg) center bottom no-repeat;
    background-size: cover;
}

div#arch-img2 {
    background: url(images/art-deco.jpeg) center bottom no-repeat;
    background-size: cover;
}

@media screen and (max-width: 768px) and (min-width: 415px) {
    
    div#architecture-content {
        width: 70%;
        padding: 19rem 0 12rem 0;
    }
    
    div#architecture-content h2 {
        font-size: 2.7rem;
    }
    
    div#architecture-content h3 {
        font-size: 2.3rem;
    }
    
    div.arch-imgs {
        height: 30rem;
    }

}




/* ------------------------- 9. The map ----------------------------- */

div#build-map {
    width: 100%;
}

div#wrap {
    display: table;
    margin: 0 auto;
    padding-top: 15rem;
}

    div#wrap img {
        width: 4.5rem;
        margin-right: 2rem;
        display: table-cell;
        vertical-align: middle;
    }

    div#wrap p {
        display: table-cell;
        vertical-align: middle;
        font-size: 2.3rem;
    }

div#map-wrap {
    width: 100%;
    height: auto;
    overflow: hidden;
}

img#floorplan {
    margin-top: 10%;
    z-index: -1;
    width: 75rem;
    margin-left: 50%;
    transform: translateX(-50%);
}



/* ------------------------- 10. Favourites tab ----------------------------- */

div#favourites-content {
    width: 100%;
    padding-top: 5.5rem;
}

div#no-fav {
    text-align: center;
    margin-top: 10%;
    font-size: 1.7rem;
}

div.favourite-item {
    width: 100%;
    height: 15rem;
    position: relative;
}

    div.favourite-item:last-of-type {
        margin-bottom: 7rem;
    }

    div.favourite-item h2 {
        margin: 0;
        text-transform: uppercase;
        color: #fff;
        font-size: 1.7rem;
        letter-spacing: 1px;
        font-weight: 400;
        width: 80%;
        padding: 3rem 0 0 3rem;
    }

    div.favourite-item button {
        width: 2.8rem;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0 2.5rem 2.5rem 0;
    }

div#fav-feature1 {
    background: url(images/feature1-dark.jpg) center no-repeat;
    background-size: cover;
}

div#fav-feature2 {
    background: url(images/feature2-dark.jpg) center no-repeat;
    background-size: cover;
}

div#fav-feature3 {
    background: url(images/feature3-dark.jpg) center no-repeat;
    background-size: cover;
}

div#fav-feature4 {
    background: url(images/feature4-dark.jpg) center no-repeat;
    background-size: cover;
}

div#fav-feature5 {
    background: url(images/feature5-dark.jpg) center no-repeat;
    background-size: cover;
}

div#fav-feature6 {
    background: url(images/feature6-dark.jpg) center no-repeat;
    background-size: cover;
}

div#fav-feature7 {
    background: url(images/feature7-dark.jpg) center no-repeat;
    background-size: cover;
}

div#fav-feature8 {
    background: url(images/feature8-dark.jpg) center no-repeat;
    background-size: cover;
}

div#fav-feature9 {
    background: url(images/feature9-dark.jpg) center no-repeat;
    background-size: cover;
}

@media screen and (max-width: 768px) and (min-width: 415px) {
    div#favourites-content {
        padding-top: 8rem;
    }
    
    div.favourite-item {
        height: 25rem;
    }
    
    div.favourite-item button {
        width: 4rem;
        padding: 0 4rem 4rem 0;
    }
    
    div.favourite-item h2 {
        font-size: 2.5rem;
        padding: 6rem 0 0 6rem;
    }
}

@media screen and (max-width: 320px) {
    div#favourites-content {
        padding-top: 4.5rem;
    }
    
    div.favourite-item {
        height: 12rem;
    }
    
    div.favourite-item button {
        padding: 0 1.8rem 1.8rem 0;
    }
    
    div.favourite-item h2 {
        font-size: 1.5rem;
    }
}




/* ------------------------- 11. Feature Clues ----------------------------- */

#clue-1, #clue-2, #clue-3, #clue-4, #clue-5, #clue-6, #clue-7, #clue-8, #clue-9 {
    width: 100%;
    height: 100vh;
}

.clue-content {
	margin: 4rem;
	align-content:center;
    line-height: 1.5;
}

.clue-header {
	width: 100%;
	text-align: center;
	color: #fff;
	height: 5.5rem;
	overflow: hidden;
}

.clue-header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.clue-header li {
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	width: 32%;
	vertical-align:middle;
}

.clue-header li p {
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 3px;
}

.clue-header li img {
	float: left;
	width: 1.5rem;
	padding-left: 1rem;
	padding-bottom: 0.5rem;
	padding-top: 1.5rem;
	vertical-align:middle;
}

.clue-content h2 {
	text-transform: uppercase;
	text-align: center;
	font-weight: 400;
	color: #91732b;
	margin: 4rem;
	letter-spacing: 3px;
	font-size: 2rem;
}

.binoculars {
	width: 100%;
	align-content: center;
}

.binoculars img {
	display: block;
	margin: 0 auto;
	width: 30%;
	align-content:center;
	padding-bottom: 2rem;
}

.clue-content p {
	padding-bottom: 3rem;
	padding-top: 2rem;
	text-align:center;
	letter-spacing: 1px;
    line-height: 1.4;
}

.clue-content ul {
	list-style-type: none;
	text-align: center;
	text-transform: uppercase;
	margin-top: 2rem;
}

.hints li {
    padding: 1.3rem 0;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.hints li a {
	  font-size: 1.5rem;
      font-weight: 300;
      text-decoration: none;
      letter-spacing: 3px;
	  width: 80%;
}

.hint {
    border: 2px solid #7f143c;
    border-radius: 30px;
    margin: 0 auto;
}

.hint a {
	color: #7f143c
}

.found-it {
	background-color: #7f143c;
    border: 2px solid #7f143c;
    border-radius: 30px;
    margin: 0 auto;	
	color: #fff;
}

.found-it a, .show-me a {
	color: #fff;
}

.show-me {
	background-color: #363636;
    border: 2px solid #363636;
    border-radius: 30px;
    margin: 0 auto;	
}

@media screen and (max-width: 768px) and (min-width: 415px) {
	.clue-header {
		height: 8rem;
	}
	
	.clue-content {
		margin: 6rem;
	}
    
    .clue-header ul {
        margin-top: 0.5rem;
    }
	
	.clue-content h2{
		font-size: 2.7rem;
	}
	
    .clue-content ul {
        margin-top: 5rem;
    }
	
    .clue-header li p,
    .clue-content p,
    .hints li a,
    .hint-options ul li a {
		font-size: 2.5rem;
	}
    
    .hints li {
        padding: 2rem 0;
        margin-bottom: 3rem;
        width: 70%;
        border-radius: 60px
    }
    
    .hint-options ul li {
        margin-bottom: 4rem;
    }
    
}

@media screen and (max-width: 320px) {
	
	.clue-content {
		margin: 2rem;
	}
	
	.clue-content h2 {
		font-size: 1.5rem;
		margin: 3rem 0;
	}
	
	.clue-header li p,
    .hints li a {
		font-size: 1.3rem;
	}
}




/* ------------------------- 12. Feature Hints ----------------------------- */

#hint-1, #hint-2, #hint-3, #hint-4, #hint-5, #hint-6, #hint-7, #hint-8, #hint-9 {
    width: 100%;
    height: 100vh; /* important otherwise gradient doesn't reach to bottom */ 
    overflow: scroll;
}

.hint-header {
    background-color: #fff;
	width: 100%;
	text-align: center;
	height: 5.5rem;
	overflow: hidden;
}

.hint-header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.hint-header li {
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	width: 32%;
	vertical-align:middle;
}

.hint-header li p {
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 3px;
}

.hint-header li img {
	float: left;
	width: 1.5rem;
	padding-left: 1rem;
	padding-bottom: 0.5rem;
	padding-top: 1.5rem;
	vertical-align:middle;
}

#hints h2 {
	text-transform: uppercase;
	text-align:center;
	font-weight: 400;
	color: #fff;
	margin-top: 8rem;
	margin-bottom: 4rem;
	letter-spacing: 3px;
	font-size: 2rem;
}

.hint-options ul {
	list-style-type: none;
	text-align: center;
	text-transform: uppercase;
	margin-top: 2rem;
}

.hint-options ul li {
    padding: 1.5rem 0;
    line-height: 1.4;
    margin-bottom: 3rem;
}

.hint-options ul li a {
	  font-size: 1.5rem;
      font-weight: 300;
      text-decoration: none;
      letter-spacing: 3px;
	  color: #fff;
}

.hint-options ul li p {
    
    margin: 1rem;
}

.distance, .photo, .room {
	  border: 2px solid #fff;
      border-radius: 30px;
      margin: 0 auto;	  	  
	  width: 80%;
}

.distance-image {
	display: none;
	background: #fff;
	color: black;
	width: 80%;
	align-content:center;
	margin: 0 auto;
	border-radius: 10px;
}

.distance-image h3, .distance-image p {
    text-transform: lowercase;
    margin-bottom: 0.5rem;
}

.distance-image h3 {
    font-weight: 500;
    line-height: 150%;
}

.distance-image img {
    width:20%;
    float: left;
    margin: 3rem;
}

.hint-room {
	display: none;
	background: #fff;
	color: black;
	width: 80%;
	align-content:center;
	margin: 0 auto;
	border-radius: 10px;
}

.blurred-photo {
    display: none;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
}

.blurred-photo img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

@media screen and (max-width: 768px) and (min-width: 415px) {
	
	.hint-header {
		height: 8rem;
	}
	
    .hint-header ul {
        margin-top: 0.5rem;
    }
	
	.hint-header li p {
		font-size: 2.5rem;
	}
	
	#hints h2{
		font-size: 2.7rem;
	}
	    
    .hint-options li:not(.distance-image):not(.hint-room) {
        padding: 2rem 0;
        margin-bottom: 3rem;
        width: 70%;
        border-radius: 60px
    }
    
    .distance-image,
    .hint-room {
        width: 70%;
    }
    
	.hint-options ul li a {
		font-size: 2rem;
	}
}

@media screen and (max-width: 320px) {
	

	.hint-header li p {
		font-size: 1.3rem;
	}
	
    #hints h2 {
		font-size: 1.5rem;
		margin: 3rem 0;
	}
	
	.hint-options li a {
		font-size: 1.5rem;
	}
}




/* ------------------------- 13. Confirmation - Found It ----------------------------- */

.confirm{
  width:85%;
  height: 60%;
  border-radius: 15px;
  -webkit-box-shadow: 9px 11px 5px -5px rgba(54,54,54,0.33);
  -moz-box-shadow: 9px 11px 5px -5px rgba(54,54,54,0.33);
  box-shadow: 9px 11px 5px -5px rgba(54,54,54,0.33);
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  margin:auto;
  overflow: hidden;
  background-image: url(images/confirm.svg);
  background-size:cover;
  font-size: 2rem;
}

.confirm p {
  text-align: center;
  margin: 2rem;
  letter-spacing: 2px;
  font-weight: 100;
}

.confirm img {
	width: 10%;
	display: block;
	align-content: center;
	margin:auto;
	margin-top: 4rem;
}

.yes, .no{
  color:#fff;
  text-align:center;
  text-transform: uppercase;
  width: 60%;
  border-radius: 30px;
  display: block;
  padding: 1.5rem;
  margin: auto;
}

#confirm-found-it ul {
	list-style-type:none;
	margin-top: 2rem;
}

.yes {
    left:0;
	margin-bottom: 2rem;
}

.no {
    right:0;
}

@media screen and (max-width: 768px) and (min-width: 415px) {
	.confirm {
		width: 60%;
		font-size: 3rem;
		height: 40%;
	}
}

@media screen and (max-width: 360px) {
    .confirm {
        font-size: 1.5rem;
    }
    
    .confirm img {
        margin-top: 2.8rem;
    }
}



/* ------------------------- 14. Menu Content ----------------------------- */

.menu-header {
	width: 100%;
	height: 5.5rem;
	overflow: hidden;
    position: fixed;
    top: 0;
}

.menu-header img {
	float: right;
	width: 4.5rem;
	padding-right: 0.6rem;
	padding-top: 0.3rem;
}

.menu-content {
	margin: 10rem 3rem 5rem;
    line-height: 1.5;
}

.menu-heading {
	text-transform: uppercase;
	font-weight: 400;
	color: #91732b;
	letter-spacing: 1px;
}

.menu-content h1 {
	text-transform: uppercase;
	text-align:center;
	font-weight: 400;
	letter-spacing: 2px;
	font-size: 1.5rem;
	
}
.menu-content h2 {
	text-transform: uppercase;
	text-align:center;
	font-weight: 400;
	color: #91732b;
	letter-spacing: 3px;
	font-size: 2rem;
}

.menu-content h3 {
	letter-spacing: 0.5px;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 2rem;
}


@media screen and (max-width: 768px) and (min-width: 415px) {
    .menu-header {
        height: 8rem;
    }
    
    .menu-header img {
        width: 7rem;
    }
    
    .menu-content {
        width: 70%;
        margin: 15rem auto;
    }

}
/* ----- Arc Cinema page ----- */
#arc-cinema {
	width: 100%;
}

.arc-cinema-top-content {
	text-align: center;
}

.arc-cinema-top-content span {
	font-weight: 100;
	font-size: 1.4rem;
}

.arc-cinema-date {
	font-weight: 400;
	letter-spacing: 1px;
	margin-bottom: 0;	
}

.arc-cinema-details,
.screening-description span {
	font-weight: 400;
}

.screening-description p {
    line-height: 1.5;
}

div#cinema-img1 {
    background: url(images/back-to-the-blast.jpg) center bottom no-repeat;
    background-size: cover;
    width: 100%;
    height: 20rem;
	margin-top: 5rem;
}

div#cinema-img2 {
    background: url(images/silent-storm.jpg) center bottom no-repeat;
    background-size: cover;
    width: 100%;
    height: 20rem;
	margin-top: 5rem;
}

@media screen and (max-width: 768px) and (min-width: 415px) {
    
    .menu-content h1,
    .arc-cinema-date,
    .arc-cinema-top-content span,
    .screening-description p {
        font-size: 2rem;
    }
    
    .menu-content h2,
    .menu-content h3 {
        font-size: 3rem;
    }
    
    div#cinema-img1,
    div#cinema-img2 {
        height: 35rem;
        margin-top: 8rem;
    }

}


/* ----- Ghost Tour page ----- */
#ghost-tour {
	width: 100%;
}

#ghost-tour h2 {
	text-align: left;
}


#ghost-tour-description p{
    line-height: 1.5;
	
}

#ghost-tour-description a {
	text-decoration: none;
	color: #363636;
	
}

@media screen and (max-width: 768px) and (min-width: 415px) {
   
    .ghost-tour-description p {
        font-size: 2rem;
    }
    
    .menu-content h2,
    .menu-content h3 {
       font-size: 3rem;
	}

}

/* ----- About page ----- */
#about {
	width: 100%;
}

#about h2 {
	text-align: left;
}

#about-description p{
    line-height: 1.5;
	
}

#about ul {
	line-height: 1;
	padding-left: 1.5rem;
}

@media screen and (max-width: 768px) and (min-width: 415px) {
   
    .about-description p,
	#about ul{
        font-size: 2rem;
    }
    
    .menu-content h2{
       font-size: 3rem;
	}

}

/* ----- Contact page ----- */
#contact {
	width: 100%;
}

#contact h2 {
	text-align: left;
}


#contact-description p{
    line-height: 1.5;
	
}

#contact li {
	list-style-type: none;
	line-height: 1.3;
	margin: 5px 0;
}

#contact ul span {
	font-weight: 400;
	
}

@media screen and (max-width: 768px) and (min-width: 415px) {
   
    .ghost-tour-description p {
        font-size: 2rem;
    }
    
    .menu-content h2,
    .menu-content h3 {
       font-size: 3rem;
	}

}



/* ------------------------- 15. Found features ----------------------------- */

div.found-header {
    height: 5.5rem;
    width: 100%;
    position: fixed;
    overflow: hidden;
}

    div.found-header h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.5rem;
        letter-spacing: 1px;
        padding-top: 2rem;
    }

img.close-found {
    width: 2.5rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.6rem;
}

div.found-images {
    position: relative;
    width: 100%;
    padding-top: 5.5rem;
    z-index: -1;
}

img.feature-img {
    width: 100%;
}

img.gold-tick,
img.dark-tick {
    height: 5rem;
    position: absolute;
    bottom: 0;
    margin: 0 0 5% 5%;
}

.feature-found-content {
    height: 100%;
    width: 80%;
    margin: 8% auto;
}

    /* Favourites button */
    .feature-found-content button {
        display: block;
        margin: 1rem auto;
        width: 3rem;
    }

    .feature-found-content h3 {
        text-transform: uppercase;
        text-align: center;
    }

    .feature-found-content h4 {
        margin: 2.5rem 0 0.5rem;
        text-transform: uppercase;
        color: #90722b;
    }
    .feature-found-content p {
        line-height: 1.5;
    }
	
	
#NFSAfront, #NFSAgeometric, #NFSAquarry, #NFSAluxfer, #NFSAcolin, #NFSAbronze, #NFSAred, #NFSAlady, #NFSAarch {
    margin: 0 auto;
    width: 90%;
}

#NFSAfront img, #NFSAgeometric img, #NFSAquarry img, #NFSAluxfer img, #NFSAcolin img, #NFSAbronze img, #NFSAred img, #NFSAlady img, #NFSAarch img {
    
    display: inline-block;
    width: 44%;
    margin: 0 auto;
    padding: 1rem;
}

@media screen and (max-width: 768px) and (min-width: 415px) {
    div.found-header {
        height: 8rem;
    }
    
    div.found-header h2 {
        font-size: 2.5rem;
        padding-top: 3rem;
    }
    
    img.close-found {
        width: 3rem;
        padding: 2.6rem;
    }
    
    img.gold-tick,
    img.dark-tick {
        height: 7rem;
        margin: 0 0 4% 4%;
    }
    
    .feature-found-content button {
        margin: 2.5rem auto;
        width: 4rem;
    }
    
    .feature-found-content h3 {
        font-size: 2.7rem;
    }
    
    .feature-found-content h4 {
        font-size: 2.2rem;
    }
    
    #NFSAfront, #NFSAgeometric, #NFSAquarry, #NFSAluxfer, #NFSAcolin, #NFSAbronze, #NFSAred, #NFSAlady, #NFSAarch {
        margin: 0 auto;
        width: 80%;
    }
       
    #NFSAfront img, #NFSAgeometric img, #NFSAquarry img, #NFSAluxfer img, #NFSAcolin img, #NFSAbronze img, #NFSAred img, #NFSAlady img, #NFSAarch img {
        display: inline-block;
        width: 46%;
        margin: 0 auto;
        padding: 1rem;
    }  
    
}

@media screen and (max-width: 320px) {
    div.found-header h2 {
        padding-top: 1.7rem;
    }
    
    img.close-found {
        width: 2rem;
        padding: 1.4rem
    }
    
    div.found-images {
        padding-top: 5rem;
    }
    
    #NFSAfront img, #NFSAgeometric img, #NFSAquarry img, #NFSAluxfer img, #NFSAcolin img, #NFSAbronze img, #NFSAred img, #NFSAlady img, #NFSAarch img {
        display: inline-block;
        width: 45%;
        margin: 0 auto;
        padding: 0.5rem;
    } 
}



/* ------------------------- X. General media queries ----------------------------- */

/* design breakpoint for progress dots */
@media screen and (max-width: 590px) {
    
    /* --- circle feature navigation --- */
    div.quest-progress {
        margin: 0 0 27% -81px;
    }
    
    /* --- building map ---- */
    img#floorplan {
        width: 100%;
    }
}


/* Phone size */
@media screen and (max-width: 414px) {
    
    /* ----- launch screen ----- */
    div#loading {
        width: 82.6666666667%;
        font-size: 1.4rem;
    }
    
    img#these-walls {
        width: 120px;
        margin-bottom: 1.5rem;
    }
    
    img#load-icon {
        width: 20px;
    }
    
    img#nfsa {
        width: 80px;
        margin: 0 0 20px -40px;
    }
    
    /* ----- onboarding screens ----- */
    div.onboarding {
        width: 82.6666666667%;
        font-size: 1.9rem;
    }
    
    div.onboarding h1 {
        font-size: 2.1rem;
        margin-bottom: 15%;
    }
    
    img.ob-icons {
        height: 60px;
    }
    
    div#begin {
        width: 215px;
    }
    
    div#begin p {
        padding: 1.2rem 0;
    }
    
    /* ----- hamburger menu ----- */
    .burger {
        height: 5.5rem;
    }
    
    .burger img {
        width: 4rem;
        padding-left: 1rem;
        padding-top: 1rem;
    }
    
    .menu {
        margin: 2.6rem 1.5rem 0;
        height: 3rem;
        width: 3rem;
    }
    
    .bar, .bar::before, .bar::after {
        height: 0.1rem;
    }
    
    .bar {
      margin-top: -0.2rem;
    }
    
    .bar::before {
      top: -1rem;
    }
    
    .bar::after {
      top: 1rem;
    }

    nav {
        width: 60%;
        padding-top: 4rem;
    }
    
    nav ul {
      padding-left: 3rem;
    }
    
    nav ul li {
        padding: 1.9rem 1.9rem 1.9rem 0;
        font-size: 1.4rem;
    }
    
    .nav-logo img {
        width: 7rem;
        padding: 0;
    }
    
    /* ----- Circle feature navigation ------ */
    #main-screen-text {
        margin-bottom: 10%;
    }
    
    #main-screen-text h2 {
        font-size: 1.5rem;
        letter-spacing: 1px;
    }
    
    #main-screen-text p {
        font-size: 1.7rem;
    }
    
    .quest::after {
        height: 1.5rem;
        margin-top: -35%;
    }
    
    .quest img {
        height: 38vh;
    }
    
    .circle-text {
        font-size: 1.5rem;
    }
    
    .circle-text h1 {
        font-size: 8rem;
    }
    
    #quest-left-right{
        bottom: 30%;
    }
    
    button#right-button {
        margin-right: 3rem;
    }
    
    button#left-button {
        margin-left: 3rem;
    }
        
        
    /* ----- bottom navigation ----- */
    .bottom-menu ul {
        height: 7rem;
    }
    
    .bottom-menu li p {
        font-size: 1rem;
     }
    
    .bottom-menu li img {
        height: 30px; 
    }
    
    /* ----- building info ----- */
    ul#building-nav {
        height: 5rem;
    }
    
    ul#building-nav li {
        font-size: 1.3rem;
    }
    
    #building-overview img {
        margin-top: 10.5rem;
    }

    /* ----- the map ----- */
    div#wrap {
        padding-top: 9.5rem;
    }
    
    div#wrap img {
        width: 3rem;
    }
    
    div#wrap p {
        font-size: 1.5rem;
    }
}

/* For smaller phones */
@media screen and (max-width: 320px) {

    nav ul li a {
        font-size: 1.3rem;
    }
    
    nav ul li {
        padding: 1.9rem 1.9rem 1rem 0;
    }
    
    .burger,
    .clue-header,
    .hint-header,
    div.found-header {
        height: 5rem;
    }
    
    .burger img {
        padding-top: 0.5rem;
    }
    
    .menu {
        margin: 2.3rem 1.5rem 0;
    }
    
    .circle-text {
        top: 17%;
    }
    
    .update-text {
        font-size: 1.3rem;
        padding-top: 5%;
    }
    
    #main-screen-text {
        padding-top: 5rem;
        margin-bottom: 0;
    }
    
    ul#building-nav {
        height: 4.5rem;
    }
    
    .margin-top {
        margin-top: 5rem;
    }
    
    .bottom-menu ul {
        height: 6rem;
    }
    
    #building-overview img {
        margin-top: 9.5rem;
    }
    
    div.timeline-container {
        padding-top: 9.5rem;
    }
    
    div.timeline-progress {
        margin: 0 0 21% -91px;
    }
    
    div.arch-imgs {
        height: 14rem;
    }
    
    .clue-header li img,
    .hint-header li img {
        padding-top: 1rem;
    }
    
    .hint-options ul li {
        margin-bottom: 2rem;
    }
    
    .clue-content p {
        padding: 0;
        font-size: 1.3rem;
    }
    
    .binoculars img {
        width: 7rem;
    }
}