/* TABLE OF CONTENTS

    1. Default styles
    2. Wrong device message
    3. Launch screen (Caitlin)
    4. User onboarding (Steph)


    X. General media queries
*/




/* ------------------------- 1. Default styles ----------------------------- */

html {
    /* http://stackoverflow.com/questions/2869212/css3-gradient-background-set-on-body-doesnt-stretch-but-instead-repeats */
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.hide {
    display: none;
}

.low-opacity {
    opacity: 0.3;
}

/* background applied using Javascript */
.redwine-gradient {
    /* http://colorzilla.com/gradient-editor/ */
    background: #7f143c; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(45deg, #c01e59 0%,#7f143c 60%, #7f143c 100%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, #c01e59 0%,#7f143c 60%, #7f143c 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, #c01e59 0%,#7f143c 60%, #7f143c 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, #c01e59 0%,#7f143c 60%, #7f143c 100%); /* Standard syntax */
}

/* background applied using Javascript */
.gold-gradient {
    background: #91732b; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(45deg, #f9c430 0%,#91732b 60%, #91732b 100%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, #f9c430 0%,#91732b 60%, #91732b 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, #f9c430 0%,#91732b 60%, #91732b 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, #f9c430 0%,#91732b 60%, #91732b 100%); /* Standard syntax */
}




/* ------------------------- 2. Wrong device message ----------------------------- */


div.wrong-device {
    color: #fff;
    text-align: center;
    /* align vertically centered - https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    div.wrong-device img {
        width: 70px;
        margin-bottom: 30px;
    }

/* Don't display the wrong device message for tablets and phones - screen width 768px and less */
@media screen and (max-width: 768px) {
    div.wrong-device {
        display: none;
    }
    
    div.hiding {
        display: block;
    }
}

/* Display the wrong device message for desktop - screen width 769px or more */
@media screen and (min-width: 769px) {
    /* Hides main content */
    div.main-content {
        display: none;
    }
    
    /* Shows the wrong-device div */
    div.wrong-device {
        display: block;
    }
}




/* ------------------------- 3. Launch screen (Caitlin) ----------------------------- */


div.launch {
    text-align: center;
    font-size: 1.9rem;
	color: #fff;
    font-weight: 200;
    line-height: 1.3;
}

div#loading {
    /* align vertically centered */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img#these-walls {
    width: 200px;
    margin-bottom: 2.5rem;
}

img#load-icon {
    margin-top: 4rem;
    width: 35px;
}

img#nfsa {
    opacity: 0.4;
    width: 120px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin: 0 0 20px -65px;
}




/* ------------------------- 4. User onboarding (Steph) ----------------------------- */


div.onboarding {
    text-align: center;
    font-size: 2.1rem;
    color: #fff;
    /* align vertically centered */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    div.onboarding h1 {
        font-size: 2.3rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 10%;
    }

    div.onboarding p {
        line-height: 1.6;
        margin-bottom: 20%;
    }

img.ob-icons {
    height: 90px;
    margin-bottom: 2rem;
}

img.right-arrow {
    height: 40px;
}

div.arrows {
    position: fixed;
    bottom: 0;
    right: 15%;
    margin-bottom: 30%;
}

div.progress {
    width: 70px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin: 0 0 25px -35px;
}

div.progress-dots {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
}

div#begin {
    width: 250px;
    text-transform: uppercase;
    border: 3px solid #fff;
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
    margin-top: 90%;
}

    div#begin p {
        margin: 0;
        padding: 1.5rem 0;
    }

    div#begin a {
        font-size: 2rem;
        color: #fff;
        text-decoration: none;
        letter-spacing: 3px;
        margin-top: 2px;
    }



/* ------------------------- X. General media queries ----------------------------- */

/* Phone size */
@media screen and (max-width: 414px) {
    
    /* ----- launch screen ----- */
    div#loading {
        width: 82.6666666667%;
        font-size: 1.4rem;
    }
    
    img#these-walls {
        width: 120px;
        margin-bottom: 1.5rem;
    }
    
    img#load-icon {
        width: 20px;
    }
    
    img#nfsa {
        width: 80px;
        margin: 0 0 20px -40px;
    }
    
    /* ----- onboarding screens ----- */
    div.onboarding {
        width: 82.6666666667%;
        font-size: 1.9rem;
    }
    
    div.onboarding h1 {
        font-size: 2.1rem;
        margin-bottom: 15%;
    }
    
    img.ob-icons {
        height: 60px;
    }
    
    div#begin {
        width: 215px;
        margin-top: 120%;
    }
    
    div#begin p {
        padding: 1.2rem 0;
    }
    
}
